{{ with $.Params.url_pdf }}<a class="button pub-link hollow" href="{{ . | absURL }}">PDF</a>{{ end }}
{{ with $.Params.url_slides }}<a class="button pub-link hollow" href="{{ . | absURL }}">Slides</a>{{ end }}
{{ with $.Params.url_video }}<a class="button pub-link hollow" href="{{ . | absURL }}">Video</a>{{ end }}
{{ with $.Params.url_code }}<a class="button pub-link hollow" href="{{ . | absURL }}">Code</a>{{ end }}
{{ with $.Params.url_dataset }}<a class="button pub-link hollow" href="{{ . | absURL }}">Dataset</a>{{ end }}
{{ with $.Params.url_project }}<a class="button pub-link hollow" href="{{ . | absURL }}">Project</a>{{ end }}
{{ range $.Params.url_custom }}
<a class="button pub-link hollow" href="{{ .url | absURL }}">{{ .name }}</a>
{{ end }}
